#IntelliJ IDEA
.idea

# VS Code
.vscode/

.svn
.git
node_modules/
dist/
wwwroot/
build/

# idea中的配置
.svn/
.idea/
.DS_Store

# 排除所有.开头的隐藏文件
.*

# Next.js build output
.next
out

# Optional npm cache directory
.npm

# Nuxt.js build / generate output
.nuxt


# vuepress build output
.vuepress/dist

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*